name: Unit tests

on: [push]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['8.2', '8.3', '8.4']
    name: Testing on PHP ${{ matrix.php-versions }}
    steps:
      - uses: actions/checkout@v4
      - name: setup
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring,bcmath
          coverage: pcov
          tools: phpunit,composer

      - name: install deps
        run: composer install -o -q

      - name: phpunit
        run: phpunit
